.page {
  color:black;
  font-size: 18px;
  font-weight: normal;
}

.header {
  min-height: 293px;
  padding: 94px 52px;
}

.menu {
  display: flex;
  align-items: center;
}


.menu-list {
  width: 500px;
  display: flex;
  gap: 32px;
  list-style: circle;
}

.menu-list-item {
  text-decoration: underline;
  list-style: circle;
}

.menu-list-item__main {
  list-style-type: none;
  text-decoration: none;
}

.menu-list-item-link {
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
}

.contacts {
    width: 500px; /* 240px */
}

.contacts-list {
  list-style: none;
  padding-left: 50%;
}

.contacts-list-item__underlined {
  text-decoration: underline;
  
}

.cover {
  position: relative;
  padding: 50px;
  min-height: 757px;
  background: url(../images/cover.jpg) center / cover;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: rgb(0,0,0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  display: block;
  font-size: 100px;
  letter-spacing: 28%;
  line-height: 135%;
  padding: 1.06em 0;
  z-index: 1;
}
.aligned-text {
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.aligned-text__center {
  text-align: center;
}
.aligned-text__right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.cover__description-text {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 100%;
}

.bet-button__link {
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  padding: 12px 32px;
}