.header {
  min-height: 293px;
  padding: 94px 52px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}


.menu-list {
  width: 500px;
  display: flex;
  gap: 32px;
  list-style: circle;
  align-items: center;
}

.menu-list-item {
  text-decoration: underline;
  list-style: circle;
}

.menu-list-item__main {
  list-style-type: none;
  text-decoration: none;
}

.menu-list-item-link {
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
}

.contacts {
    width: 500px; /* 240px */
}

.contacts-list {
  list-style: none;
   padding-left: 50%;
}

.contacts-list-item__underlined {
  text-decoration: underline;
}

.cover {
  min-height: 757px;
  background: url(../images/cover.jpg) center / cover;
  
}

.overlay {
  background-color: black;
}